@model oms.Models.Product

@{
    ViewData["Title"] = "Edit";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Services / Products</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Edit Service</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <!-- Input addon -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Edit Service!</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ProductId" />
                            <input type="hidden" asp-for="AddedBy" />
                            <input type="hidden" asp-for="AddedDate" />

                            <label asp-for="ProductName"></label>
                            <div class="input-group mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text fa fa-user"></span>
                                </div>
                                <input type="text" asp-for="ProductName" class="form-control" placeholder="Service Name...." required>
                            </div>


                            <label asp-for="EstimatePrice"></label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">RS</span>
                                </div>
                                <input type="number" asp-for="EstimatePrice" class="form-control" placeholder="Price" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>


                            <label asp-for="Detail"></label>
                            <div class="input-group">

                                <textarea class="form-control" asp-for="Detail" rows="3" placeholder="Enter address..."></textarea>

                            </div>
                            <br />

                            <div class="form-group">
                                <input type="submit" value="Save Changes" class="btn btn-primary col-md-12" />
                            </div>
                        </form>
                        <!-- /input-group -->
                    </div>
                    <!-- /.card-body -->

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
